@import "../../assets//styles/abstract/mixins";

.container {
  position: relative;

  .bg-video {
    height: 100%;
    width: 100%;
    // object-fit: fill;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .logo-group {
    margin-top: 3rem;
    margin-left: 6rem;
    height: 62px;
    width: auto;

    @include respond(sm) {
      margin-left: 1rem;
      margin-top: 2rem;
      width: 95%;
      height: auto;
    }
  }

  .title-group {
    // font-size: 80px;
    display: flex;
    left: 50%;
    justify-content: center;
    margin-top: 22rem;

    .title-en {
      color: rgb(255, 255, 255);
      margin-left: 102px;

      @include respond(sm) {
        margin: 10px;
      }
    }

    .title-fr {
      color: rgb(255, 0, 0);
      margin-right: 102px;

      @include respond(sm) {
        margin: 10px;
      }
    }

    @include respond(sm) {
      font-size: 60px;
      // display: grid;
      position: fixed;
      width: 100%;
      text-align: center;
      left: 0px;
      top: 0;
    }

    @include respond(xs) {
      font-size: 50px;
    }
  }

  .btn-lang-group {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 3rem;
    display: flex;

    .btn-lang {
      text-transform: uppercase;
      color: rgb(175, 174, 180);
      font-size: 2.3rem;
      background-color: transparent;
      border: 1px solid;
      cursor: pointer;
      padding: 1.8rem;
      width: fit-content;
      margin-left: 30px;
      margin-right: 30px;

      @include respond(sm) {
        font-size: 2rem;
        padding: 1.2rem;
      }

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

.title-svg {
  max-width: 90rem;
  width: 100%;
  margin: 0 2rem;
}
