:root {
  --text-main-size: 1.6rem;

  --color-white: #fff;
  --color-black: #000;
  --color-grey: #4a4a4a;
  --color-blue: #8fbcff;
  --color-dark: #0a0a20;
  --color-story-back: #14172e;

  --width-text-panel: 480px;
  --padding-text-panel: 4rem;
}
